<h1>Listing genres</h1>

<p>
  Number of genres:
  <%= @genres.count %>
</p>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @genres.each do |genre| %>
      <tr>
        <td><%= link_to genre.name, genre %></td>
        <td><%= genre.description %></td>
        <td><%= edit_and_destroy_buttons(genre) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to('New genre', new_genre_path, class:"btn btn-default") unless current_user.nil? %>
