<p id="notice"><%= notice %></p>

<h1>
  <%= @genre.name %>
</h1>

<p>
  <%= @genre.description %>
</p>

<% unless @genre.books.empty? %>
    <ul>
      <% @genre.books.each do |book| %>
          <li><%= link_to book.name, book %></li>
      <%end%>
    </ul>
<%end%>

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
