<p id="notice"><%= notice %></p>

<h1> <%= @author.name %> </h1>

<% unless @author.books.empty? %>
    <p>This author has written <%= pluralize(@author.books.count, 'book') %>
      <ul>
        <% @author.books.each do |book| %>
          <li><%= link_to book.name, book %></li>
        <%end%>
      </ul>
    </p>
<%end%>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
