<p id="notice"><%= notice %></p>

<h1> <%= @author.name %> </h1>

<p> <%= @author.info %> </p>

<% unless @author.books.empty? %>
    <p>Books written by this author:
      <ul>
        <% @author.books.each do |book| %>
          <li><%= link_to book.name, book %></li>
        <%end%>
      </ul>
<%end%>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
