<h1>Editing book</h1>

<%= render 'form' %>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>

<br />

<%= link_to 'Edit authors', book_authors_path(params: {book_id: @book.id})  %> |
<%= link_to 'Edit genres', book_genres_path(params: {book_id: @book.id})  %>