<p id="notice"><%= notice %></p>

<h1>
  <%= @book.name %>
</h1>

<% unless @book.authors.empty? %>
<p>By
  <% @book.authors.each do |author| %>
      <%= link_to author.name, author %>
  <%end%>
</p>
<%end%>

<p>
  <%= @book.plot %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
