<!DOCTYPE html>
<html>
<head>
  <title>Books</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="nav">
  <%= link_to 'books', books_path %>
  <%= link_to 'authors', authors_path %>
  <%= link_to 'publishers', publishers_path %>
  <%= link_to 'users', users_path %>
  <%= link_to 'genres', genres_path %>
</div>

<%= yield %>

</body>
</html>
